
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #d8ebda;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #d8ebda;
}
.tabs ul.primary li a.active {
  background-color: #d8ebda;
}
.tabs ul.primary li.active a {
  background-color: #d8ebda;
  border-bottom: 1px solid #d8ebda;
}
a {
  color: #101010;
}
a:hover,
a:focus {
  color: #4b2121;
}
a:active {
  color: #8e3434;
}
#sidebar-first {
  background-color: rgb(42,160,83);
  border: none;
}
#page-wrapper,
#footer-wrapper {
  background: #1f1d1c;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
