/* Admin */

html body.admin-menu {
    margin-top: 0 !important;
	padding-top: 29px;
}

/* Page */

body {
	margin: 0;
	background-color: rgb(225,238,226);
	font-family: "Avenir Next", "Helvetica Neue", sans-serif;
	min-width: 1080px;
	position:relative;
	top: 0
}
#page-wrapper {
	padding-left: 210px;
	height: 100%;
}
#main {
	padding: 50px;
	padding-top: 20px;
}

/* Sidebar */

.sidebar {
	float: left;
	height: 100vh;
	width: 210px;
	top: 0;
	position: fixed;
	background-color: rgb(47, 171, 102);
	z-index: 2;
}

/* Header */

#header {
    margin-top: 10px;
}
/* Footer */

#footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 210px;
}

/* Login */

/* Login - footer */

#loginpage #footer-wrapper {
	padding-left: 0px;
}

/* Login - page */

#loginpage {
	min-height: 100vh;
	background-color: rgb(225,238,226);
}
#loginpage #page-wrapper {
	padding-left: 0px;
}
#loginpage #screenshot {
	height: 60vh;
	position: fixed;
	top: 25vh;
	left: 60%;
}
#loginpage #main {
	margin-left: 5vw;
	width: 40vw;
}
#loginpage #main img {
	width: 120px;
	margin-top: 10vh;
	margin-bottom: 1vh;
}
#loginpage p {
	color: black;
}
#loginpage .form-submit {
	margin-top: 2vh;
	font-size: 1.1em;
	font-weight: 500;
	padding: 8px 20px;
	background-color: rgb(33,158,92);
}
#loginpage .form-submit:hover {
	background-color: #457552;
}
#loginpage .form-submit a {
	color: white;
	text-decoration: none;
}
#loginpage #footer-wrapper {
	padding-left: 0px;
}
#loginpage label {
	font-weight: 400;
}
#loginpage label span {
	display: none;
}
#loginpage .description {
	display: none;
}
#loginpage .form-item,
#loginpage .form-actions  {
	margin-top: 3px;
	margin-bottom: 3px;
}
#loginpage input.form-text {
	width: 284px;
}
#loginpage input {
	width: 300px;
}

/* Register - page */

#registerpage {
	min-height: 100vh;
	background-color: rgb(47, 171, 102);
}
#registerpage #page-wrapper {
	padding-left: 0px;
}
#registerpage #main {
	text-align: center;
	vertical-align: middle;
}
#registerpage #main img {
	width: 150px;
	margin-top: 10vh;
	margin-bottom: 8vh;
}
#registerpage #content{
	width: 300px;
	margin: 0 auto;
	text-align: left;
}
#registerpage label {
	color: white;
	font-weight: 400;
}
#registerpage label span {
	display: none;
}
#registerpage .form-item {
	margin-top: 3px;
	margin-bottom: 3px;
}
#registerpage input.form-text {
	width: 284px;
}
#registerpage input {
	width: 300px;
}
#registerpage .description {
	display: none;
}
#registerpage .form-submit {
	font-size: 1.1em;
	font-weight: 500;
	padding: 8px 20px;
	background-color: #457552;
}
#registerpage p, #registerpage a {
	text-align: center;
	color: #C6C6C6;
}
#registerpage #edit-field-user-avatar-und-0-upload {
	padding-bottom: 10px;
}
#registerpage .password-strength {
	float: inherit;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#registerpage .password-confirm {
	display: none;
}
#registerpage .password-confirm.form-text {
	display: inherit;
}
#registerpage .password-suggestions.description {
	display: none !important;
}
#registerpage #footer-wrapper {
	padding-left: 0px;
}


